@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", cursive;
}

.dark-mode {
    cursor: pointer;
}


.App {
    background-color: hsl(235, 21%, 11%);
    height: 100vh;
    width: 100%;
    /* background-image: url("../public/images/bg-desktop-dark.jpg"); */
    background-image: url("../public/images/bg-desktop-dark.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.container {
    /* background-color: aqua; */
    width: 100%;
    max-width: 650px;
    margin-top: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 10px;
    font-size: 1.5rem;
    /* font-size: 25px; */
    color: white;
}

.task-input {
    display: flex;
    align-items: center;
    background-color: hsl(235, 24%, 19%);
    width: 100%;
    height: 70px;
    border-radius: 6px;
    margin-top: 15px;
}

.check {
    /* margin-top: 20px; */
    flex-basis: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-color: orange; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid hsl(240, 12%, 44%);
}

.check-mark:hover {
    /* background: linear-gradient(
        to bottom,
        hsl(240, 12%, 44%) 0%,
        hsl(240, 12%, 44%) 100%
    ); */
    background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
}

.check-mark.checked {
    /* background: linear-gradient(
        to bottom,
        hsl(240, 12%, 44%) 0%,
        hsl(240, 12%, 44%) 100%
    ); */
    background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
}

.check-mark img {
    visibility: hidden;
}

.check-mark.checked img,
.check-mark:hover img {
    visibility: visible;
}

.new-todo-input {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.new-todo-input form {
    flex-grow: 1;
    display: flex;
}

#todo-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: transparent;
    color: hsl(234, 39%, 85%);
    letter-spacing: 1px;
}

.task-list-wrapper {
    margin-top: 30px;
    border-radius: 6px;
    /* height: 400px; */
    background-color: hsl(235, 24%, 19%);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.task-list {
    width: 100%;
    /* height: 70px; */
}

.task-text.checked {
    text-decoration: line-through;
    color: hsl(233, 14%, 35%);
}

.task-item {
    width: 100%;
    color: hsl(234, 39%, 85%);
    height: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid hsl(237, 14%, 26%);
    transition: all 0.3s ease;
    transition-property: box-shadow, transform, border-color;
    letter-spacing: 1px;
    font-size: 18px;
}

.task-item:hover {
    transform: translateY(-2px);
    /* box-shadow: 0px 0px 7px 0px hsl(235, 21%, 11%);  */
    box-shadow: 0px 0px 7px 0px;
}

.task-items-info {
    /* color: white; */
    color: hsl(235, 14%, 35%);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(235, 24%, 19%);
    border-top: 1px solid hsl(237, 14%, 26%);
    border-radius: 6px;
    padding: 0 30px 0 30px;
    letter-spacing: 1px;
    font-size: 18px;
}

.items-left p span {
    color: hsl(220, 98%, 61%);
    padding-right: 5px;
}

.items-statuses {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.items-statuses__item {
    padding: 0 6px;
}

.items-statuses .active {
    color: hsl(220, 98%, 61%);
}

.items-statuses__item:hover,
.items-clear:hover {
    color: hsl(220, 98%, 61%);
}

.items-clear {
    cursor: pointer;
}

.dark-mode-toggle {
background-color:white;
color: black;
}